@model Ehsan.CSMS.Dtos.CategoryDto

@{
    ViewData["Title"] = "Create Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form method="post" asp-action="Create" asp-controller="Category" enctype="multipart/form-data" class="p-4 shadow-sm border rounded ">
    <h2 class="mb-4 text-dark">Create Category</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        @Html.LabelFor(c => c.CategoryName, new { @class = "form-label" })
        @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control", @placeholder = "Enter Category Name" ,@required = "required" })
        @Html.ValidationMessageFor(c => c.CategoryName, "", new { @class = "text-danger" })

    </div>
    <div class="mb-1">
        <button type="submit" class="btn btn mt-3 w-100" style="background-color: #ff5722; color: white">Save</button>
    </div>
</form>

