@model OrderUpdateRequest
@{
    ViewData["title"] = "Edit Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <form asp-action="Edit" asp-controller="Order">
    <div class="card p-4" style="width: 100%;">
        <h3 class="text-primary mb-4">
            Edit Order <span>#@Model.Id</span>
        </h3>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Status</th>
                        <td>
                            @Html.DropDownListFor(c => c.orderStatus,
                                     Html.GetEnumSelectList<OrderStatus>(),
                                     "Select Status",
                                     new { @class = "form-control", @value = Model.orderStatus })
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2" class="text-center">Order Details</th>
                    </tr>

                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="p-4 shadow-sm border rounded">
                <div class="row mb-3 productsLabels">
                    <div class="col">
                        <label for="selectedProducts"><strong>Item</strong></label>
                    </div>
                    <div class="col">
                        <label for="ProductPricePerUnit"><strong>Price</strong></label>
                    </div>
                    <div class="col">
                        <label for="Quantity"><strong>Qty</strong></label>
                    </div>
                    <div class="col">
                        <label for="order_TotalPrice"><strong>Total Price</strong></label>
                    </div>
                    <div class="col">
                    </div>
                </div>

            <div id="productRows">
            </div>
            <div class="row mb-3">
                <div class="col">
                    <button type="button" id="addItemBtn" class="btn btn-link text-primary">
                        <i class="fas fa-plus"></i> Add Item
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    <strong>Total Amount</strong>
                </div>
                <div class="col text-end">
                    <strong id="totalAmountDisplay">0.00SAR</strong>
                </div>
            </div>
        </div>

      <div class="mb-1">
           <button type="submit" id="sbtn" class="btn btn-primary mt-3 w-100" value="Save">Update Order</button>
      </div>
    </div>
 </form>













<style>
    span {
        font-size: 10px;
        color: gray;
    }

    .card {
        border-radius: 15px;
        background-color: white;
        box-shadow: none;
    }

    h3 {
        font-size: 24px;
        color: #007bff;
        font-weight: bold;
    }

    span.text-secondary {
        font-size: 14px;
        color: black;
    }

    th {
        font-weight: bold;
        text-align: left;
        background-color: white;
        padding: 15px;
    }

</style>
<script>
    var GetOrderUrl = '@Url.Action("GetOrder", "Order")';
    var productInfoUrl = '@Url.Action("ProductInfo", "Order")';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/UpdateOrderScript.js"></script>
