
.card {
    border-radius: 10px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #eaeaea;
    border-color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    padding: 15px 10px;
    font-size: 14px;
    color: #555;
}

strong {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

small {
    font-size: 12px;
    color: #888;
}

.price {
    margin-left: 5px;
    color: #333;
}

.nav-tabs .nav-link {
    font-size: 16px;
    padding: 10px;
}

</style >
<style >
.badge-container {
    text-align: right;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fde4b3;
    color: #705f4b;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
}

